/* =========================
   NAVBAR
========================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(18px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: "Dancing Script", cursive;

  font-size: 3rem;

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #d946ef,
    #a855f7
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.08);
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: white;

  text-decoration: none;

  font-size: 1.15rem;

  font-weight: 700;

  position: relative;

  text-shadow:
    0 0 5px rgba(255,255,255,0.4),
    0 0 10px rgba(255,255,255,0.2);

  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #ff4fa3;

  text-shadow:
    0 0 8px rgba(255,255,255,0.8),
    0 0 15px rgba(192,132,252,0.8),
    0 0 25px rgba(236,72,153,0.6);

  transform: translateY(-2px);
}

.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0%;

  height: 3px;

  background: linear-gradient(
    90deg,
    #ec4899,
    #c084fc
  );

  border-radius: 10px;

  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* =========================
   HOME PAGE
========================= */

.home {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(
    135deg,
    #fff0f8,
    #ffe6ff,
    #f5e9ff,
    #e6f4ff
  );

  overflow: hidden;

  position: relative;
}

.hero-content {
  max-width: 1100px;

  padding: 20px;

  z-index: 2;

  animation: fadeUp 1s ease;
}

.home h1 {
  font-family: "Playwrite GB S", cursive;

  font-size: 5rem;

  margin-bottom: 20px;

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #ec4899,
    #d946ef,
    #a855f7
  );

  background-size: 300% 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation:
    gradientText 6s ease infinite,
    float 4s ease-in-out infinite;
}

.home h2 {
  font-size: 2.5rem;

  color: #4c1d95;

  font-weight: 800;

  margin-bottom: 20px;
}

.tagline {
  color: #4b5563;

  font-size: 1.3rem;

  margin-bottom: 35px;

  line-height: 1.8;
}

.level-up {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #d946ef,
    #a855f7
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn {
  background: linear-gradient(
    135deg,
    #ff4fa3,
    #d946ef,
    #a855f7
  );

  color: white;

  border: none;

  padding: 16px 38px;

  border-radius: 18px;

  font-size: 1rem;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.hero-btn:hover {
  transform: translateY(-5px) scale(1.05);

  box-shadow:
    0 12px 30px rgba(217,70,239,0.4);
}

/* =========================
   FLOATING BUBBLES
========================= */

.bubble {
  position: absolute;

  border-radius: 50%;


  background: linear-gradient(
    135deg,
    rgba(255,79,163,0.15),
    rgba(168,85,247,0.15)
  );

  backdrop-filter: blur(15px);


  animation: floatCircle 8s ease-in-out infinite;
}

.bubble1 {
  width: 120px;
  height: 120px;

  top: 15%;
  left: 10%;
}

.bubble2 {
  width: 180px;
  height: 180px;

  top: 60%;
  left: 80%;
}

.bubble3 {
  width: 90px;
  height: 90px;

  top: 25%;
  right: 15%;
}

.bubble4 {
  width: 140px;
  height: 140px;

  bottom: 10%;
  left: 20%;
}

.bubble5 {
  width: 70px;
  height: 70px;

  top: 10%;
  right: 30%;
}

/* =========================
   FEATURES
========================= */

.features {
  display: flex;

  justify-content: center;

  flex-wrap: wrap;

  gap: 25px;

  margin-top: 80px;
}

.feature-card {
  width: 250px;

  padding: 25px;

  border-radius: 25px;

  background: rgba(255,255,255,0.35);

  backdrop-filter: blur(15px);

  box-shadow:
    0 8px 30px rgba(0,0,0,0.05);

  transition: all 0.3s ease;
}

.feature-card:hover {
  transform:
    translateY(-10px)
    scale(1.05);

  box-shadow:
    0 0 20px rgba(236,72,153,0.25),
    0 0 40px rgba(168,85,247,0.20);

  border: 1px solid rgba(236,72,153,0.25);
}
.feature-card h3 {
  color: #7e22ce;

  margin-bottom: 12px;

  font-size: 1.3rem;
}

.feature-card p {
  color: #555;
}

/* =========================
   LOGIN & REGISTER
========================= */

.auth-page {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #f16ab2,
    #af6ff4,
    #67baf2
  );
}

.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #fff0f8,
    #ffe6ff,
    #f5e9ff,
    #e6f4ff
  );
}

.auth-card {
  width: 420px;

  padding: 40px;

  border-radius: 30px;

  background: rgba(255,255,255,0.4);

  backdrop-filter: blur(20px);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.auth-card h1 {
  color: #7e22ce;
}

.auth-card p {
  color: #6b7280;
}

.auth-card input {
  padding: 16px;

  border-radius: 14px;

  border: none;

  outline: none;

  background: rgba(255,255,255,0.8);
}

.auth-card button {
  padding: 16px;

  border: none;

  border-radius: 14px;

  background: linear-gradient(
    135deg,
    #ff4fa3,
    #a855f7
  );

  color: white;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.auth-card button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 10px 25px rgba(168,85,247,0.3);
}
/* =========================
   DASHBOARD
========================= */

.dashboard {
  min-height: 90vh;

  display: flex;

  justify-content: center;
  align-items: center;

  gap: 30px;

  background: linear-gradient(
    135deg,
    #dd4094,
    #6726ad,
    #4898ce
  );
}

.stat-card {
  width: 220px;

  padding: 30px;

  border-radius: 25px;

  background: rgba(255,255,255,0.55);

  backdrop-filter: blur(15px);

  text-align: center;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-10px);
}

/* =========================
   ANIMATIONS
========================= */

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatCircle {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes gradientText {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.stats {
  margin-top: 90px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;
}

.stat-box {
  width: 220px;

  padding: 25px;

  border-radius: 25px;

  background: rgba(255,255,255,0.35);

  backdrop-filter: blur(15px);

  transition: 0.3s;
}

.stat-box:hover {
  transform: translateY(-8px);
}

.stat-box h2 {
  font-size: 2.5rem;

  background: linear-gradient(
    90deg,
    #ec4899,
    #a855f7
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat-box p {
  color: #555;
}
/* DASHBOARD PAGE */

.dashboard-page {
  min-height: 100vh;

  padding: 50px;

  background: linear-gradient(
    135deg,
    #fff0f8,
    #ffe6ff,
    #f5e9ff,
    #e6f4ff
  );
}

.dashboard-page h1 {
  text-align: center;

  margin-bottom: 40px;

  color: #7e22ce;
}

.dashboard-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-wrap: wrap;

  gap: 30px;
}

.xp-card,
.habit-card,
.achievement-card {
  width: 350px;

  padding: 25px;

  border-radius: 25px;

  background: rgba(255,255,255,0.4);

  backdrop-filter: blur(15px);

  box-shadow:
    0 8px 25px rgba(0,0,0,0.08);
}

/* XP BAR */

.progress-bar {
  width: 100%;

  height: 15px;

  background: #e6e6eb;

  border-radius: 50px;

  margin-top: 15px;
}

.progress-fill {
  width: 82%;

  height: 100%;

  border-radius: 50px;

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #a855f7
  );

  box-shadow:
    0 0 10px rgba(236,72,153,0.5),
    0 0 20px rgba(168,85,247,0.4);
}

.habit-card label {
  display: block;

  margin-top: 15px;
}

.achievement-card p {
  margin-top: 12px;
}
.xp-card h2,
.habit-card h2,
.achievement-card h2 {
  color: #7e22ce;
}

.xp-card p,
.habit-card label,
.achievement-card p {
  color: #4b5563;
}
.xp-card,
.habit-card,
.achievement-card {
  transition: all 0.3s ease;
}

.xp-card:hover,
.habit-card:hover,
.achievement-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 15px 35px rgba(168,85,247,0.15);
}
/* HABIT FORM */
.habit-form-card{

display:flex;

align-items:center;

gap:25px;

background:rgba(255,255,255,.65);

backdrop-filter:blur(12px);

padding:28px;

border-radius:28px;

box-shadow:
0 12px 35px rgba(168,85,247,.15);

margin:35px 0;

}

.habit-icon{

width:80px;

height:80px;

border-radius:22px;

background:linear-gradient(
135deg,
#fdf4ff,
#f3e8ff
);

display:flex;

align-items:center;

justify-content:center;

font-size:36px;

box-shadow:
0 8px 20px rgba(168,85,247,.15);

flex-shrink:0;

}

.habit-form{

display:flex;

align-items:center;

gap:18px;

width:100%;

}

.habit-form input{

flex:1;

padding:18px 22px;

border:none;

border-radius:18px;

font-size:17px;

background:white;

box-shadow:
0 4px 12px rgba(0,0,0,.05);

}

.habit-form input:focus{

outline:none;

box-shadow:
0 0 0 3px rgba(168,85,247,.25);

}

.habit-form select{

padding:16px 18px;

border:none;

border-radius:16px;

background:white;

font-size:15px;

box-shadow:
0 4px 12px rgba(0,0,0,.05);

cursor:pointer;

}

.habit-form button{

padding:16px 28px;

border:none;

border-radius:18px;

background:linear-gradient(
135deg,
#ec4899,
#9333ea
);

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.3s;

box-shadow:
0 8px 18px rgba(168,85,247,.35);

}

.habit-form button:hover{

transform:translateY(-3px);

box-shadow:
0 14px 25px rgba(168,85,247,.45);

}

/* HABIT ITEM */

.habit-item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 15px;

  padding: 12px;

  border-radius: 12px;

  background: rgba(255,255,255,0.4);
}

.habit-item button {
  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 1rem;
}
.habit-item span {
  color: #4b5563;
  font-weight: 500;
}
.habit-item button {
  border: none;
  background: transparent;

  color: #ef4444;

  font-size: 1.3rem;

  cursor: pointer;

  transition: 0.3s;
}

.habit-item button:hover {
  transform: scale(1.2);
}
.habit-item input {
  margin-right: 10px;

  transform: scale(1.2);
}

.habit-item label {
  color: #4b5563;
}

.habit-item input:checked + span {
  text-decoration: line-through;
}
.streak-card {
  width: 350px;

  padding: 25px;

  border-radius: 25px;

  background: rgba(255,255,255,0.4);

  backdrop-filter: blur(15px);

  text-align: center;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.streak-card:hover {
  transform: translateY(-8px);
}

.streak-card h2 {
  color: #ef4444;
}

.streak-card h1 {
  color: #f97316;

  font-size: 3rem;
}

.stats-row {
  display: flex;
  justify-content: center;
  gap: 20px;

  flex-wrap: wrap;

  margin: 30px 0;
}

.stat-box {
  width: 180px;

  padding: 20px;

  border-radius: 20px;

  background: rgba(255,255,255,0.45);

  backdrop-filter: blur(15px);

  text-align: center;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.05);

  transition: 0.3s;
}

.stat-box:hover {
  transform:
    translateY(-6px)
    scale(1.03);
}

.stat-box h3 {
  color: #7e22ce;

  margin-bottom: 10px;
}

.stat-box p {
  font-size: 1.8rem;

  font-weight: 700;

  color: #ec4899;
}

.level-popup {

  position: fixed;

  top: 30px;

  left: 50%;

  transform: translateX(-50%);

  padding: 20px 40px;

  border-radius: 20px;

  background: linear-gradient(
    135deg,
    #ff4fa3,
    #a855f7
  );

  color: white;

  font-size: 1.4rem;

  font-weight: bold;

  text-align: center;

  z-index: 999;

  animation:
    popupSlide 0.5s ease;
}

@keyframes popupSlide {

  from {

    opacity: 0;

    transform:
      translateX(-50%)
      translateY(-30px);

  }

  to {

    opacity: 1;

    transform:
      translateX(-50%)
      translateY(0);

  }
}
.chart-card {
  margin-top: 40px;

  padding: 30px;

  border-radius: 25px;

  background: rgba(98, 164, 239, 0.45);

  backdrop-filter: blur(15px);

  box-shadow:
    0 8px 25px rgba(58, 80, 205, 0.05);
}
.goal-card {

  margin: 30px auto;

  max-width: 700px;

  padding: 25px;

  border-radius: 25px;

  background: rgba(255,255,255,0.45);

  backdrop-filter: blur(15px);

  text-align: center;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.05);
}

.goal-card h3 {

  color: #7e22ce;

  margin-bottom: 15px;
}

.goal-progress {

  height: 16px;

  border-radius: 20px;

  overflow: hidden;

  background: #e5e7eb;

  margin-bottom: 15px;
}

.goal-fill {

  height: 100%;

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #a855f7
  );

  transition: 0.5s;
}
.habit-item.completed {

  opacity: 0.7;

  transform: scale(0.98);

  transition: 0.3s;
}

.habit-item.completed label {

  text-decoration: line-through;

  color: #888;
}
.badges-card {

  max-width: 700px;

  margin: 25px auto;

  padding: 20px;

  border-radius: 20px;

  background: rgba(255,255,255,0.45);

  backdrop-filter: blur(15px);

  text-align: center;

  box-shadow:
    0 8px 25px rgba(0,0,0,0.05);
}

.badges-card h3 {

  color: #7e22ce;

  margin-bottom: 15px;
}

.badges-list {

  display: flex;

  justify-content: center;

  gap: 15px;

  flex-wrap: wrap;
}

.badges-list span {

  padding: 10px 18px;

  border-radius: 15px;

  background: rgb(242, 119, 215);

  font-weight: 600;

  transition: 0.3s;
}

.badges-list span:hover {

  transform: scale(1.08);

  box-shadow:
    0 8px 20px rgba(168,85,247,0.15);
}
.dashboard-subtitle {

  text-align: center;

  color: #7e22ce;

  font-size: 1.1rem;

  margin-bottom: 25px;
}
.logout-btn {

  background: linear-gradient(
    90deg,
    #ff4fa3,
    #a855f7
  );

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.logout-btn:hover {

  transform: translateY(-2px);

  box-shadow:
    0 8px 20px rgba(168,85,247,0.3);
}
.profile-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #021b57;
  padding: 40px;
}

.profile-card {
  background: #0b2a6d;
  width: 700px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 79, 216, 0.3);
  animation: fadeIn 0.8s ease;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #ff4fd8,
    #8b5cf6
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

.profile-email {
  opacity: 0.8;
  margin-bottom: 30px;
}

.profile-stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.profile-stat {
  flex: 1;
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.profile-stat:hover {
  transform: translateY(-5px);
}

.level-section {
  margin-top: 30px;
}

.level-bar {
  height: 15px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 10px;
}

.level-fill {
  height: 100%;
  background: linear-gradient(
    90deg,
    #ff4fd8,
    #8b5cf6
  );
  transition: 0.5s;
}

.badges-section {
  margin-top: 30px;
}

.badges-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.badges-list span {
  background: linear-gradient(
    135deg,
    #ff4fd8,
    #8b5cf6
  );
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.logout-btn {
  margin-top: 30px;
  background: linear-gradient(
    135deg,
    #ff4fd8,
    #8b5cf6
  );
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
}

.logout-btn:hover {
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(255,79,216,0.5);
  }

  50% {
    box-shadow: 0 0 25px rgba(255,79,216,0.8);
  }

  100% {
    box-shadow: 0 0 0 rgba(255,79,216,0.5);
  }
}
.ai-card {

  background: rgb(188, 220, 238);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;

}

.ai-card input {

  width: 70%;
  padding: 10px;
  margin-right: 10px;

}

.ai-card button {

  padding: 10px 20px;
  cursor: pointer;

}

.suggestion-item {

  margin-top: 10px;
  padding: 10px;
  background: #d7bde3;
  border-radius: 10px;

}
.achievement-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 1000;
  font-weight: bold;
}
.achievement-popup {
  position: fixed;
  top: 30px;
  right: 30px;

  background: linear-gradient(
    135deg,
    #9333ea,
    #ec4899
  );

  color: white;

  padding: 20px 30px;

  border-radius: 15px;

  font-weight: bold;

  z-index: 9999;

  animation: popup 0.4s ease;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.challenge-card {

  background: linear-gradient(
    135deg,
    #b47ee7,
    #ec72af
  );

  color: rgb(252, 252, 252);

  padding: 20px;

  border-radius: 20px;

  margin: 20px 0;

  box-shadow:
    0 8px 20px
    rgba(168, 85, 247, 0.3);

}
.history-card {

  margin-top: 25px;

  padding: 24px;

  background: linear-gradient(
    135deg,
    #faf5ff,
    #f5f3ff
  );

  border: 1px solid #e9d5ff;

  border-radius: 24px;

  box-shadow:
    0 10px 25px
    rgba(168, 85, 247, 0.12);

  color: #581c87;

}
.history-card h2 {

  color: #7e22ce;

  margin-bottom: 15px;

}
.history-card h2 {

  color: #7e22ce;

  margin-bottom: 15px;

}
.history-card h3 {

  color: #9333ea;

  margin-bottom: 15px;

}
.history-card p {

  background: rgba(
    168,
    85,
    247,
    0.08
  );

  padding: 10px 15px;

  border-radius: 12px;

  margin-bottom: 8px;

}
.progress-btn {

  background: #f3e8ff;

  color: #9333ea;

  border: none;

  padding: 8px 14px;

  border-radius: 12px;

  cursor: pointer;

  font-weight: 500;

  transition: 0.3s ease;

}

.progress-btn:hover {

  background: #e9d5ff;

}
.progress-btn {

  color: #9333ea !important;

}
.heatmap {

  display: grid;

  grid-template-columns:
    repeat(10, 1fr);

  gap: 6px;

  margin-top: 15px;

  margin-bottom: 20px;

}

.heatmap-cell {

  width: 20px;

  height: 20px;

  border-radius: 6px;

  background: #ede9fe;

}

.heatmap-cell.active {

  background: #a855f7;

}
.modal-overlay {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(
    0,
    0,
    0,
    0.45
  );

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1000;

}

.modal-content {

  width: 650px;

  background: white;

  padding: 30px;

  border-radius: 25px;

  box-shadow:
    0 20px 50px
    rgba(168,85,247,0.2);

  position: relative;

}
.modal-content h2 {

  color: #7e22ce;

  font-size: 2rem;

  margin-bottom: 10px;

}
.modal-content h3 {

  color: #a855f7;

  margin-bottom: 25px;

}

.journey-stats {

  display: grid;

  grid-template-columns:
    repeat(2, 1fr);

  gap: 15px;

  margin-bottom: 25px;

}
.journey-stat {

  background: #faf5ff;

  border: 1px solid #e9d5ff;

  padding: 12px;

  border-radius: 15px;

  color: #581c87;

  font-weight: 600;

}
.close-btn {

  position: absolute;

  top: 20px;

  right: 20px;

  border: none;

  background: none;

  font-size: 1.4rem;

  cursor: pointer;

}
.heatmap {

  margin-top: 20px;

  margin-bottom: 20px;

  justify-content: center;

}
.habit-text {

  display: flex;

  align-items: center;

  gap: 8px;

}

.difficulty-badge {

  font-size: 0.85rem;

  font-weight: 600;

}
.quote-card {

  width: fit-content;

  margin: 20px auto 35px;

  padding: 18px 30px;

  background: rgba(
    255,
    255,
    255,
    0.55
  );

  backdrop-filter: blur(12px);

  border-radius: 20px;

  box-shadow:
    0 8px 25px
    rgba(
      168,
      85,
      247,
      0.12
    );

  text-align: center;

}

.quote-card h3 {

  color: #9333ea;

  margin-bottom: 10px;

}

.quote-card p {

  font-size: 1rem;

  font-style: italic;

  color: #6b21a8;

  line-height: 1.6;

}
.search-section{

  background: rgba(255,255,255,.6);

  backdrop-filter: blur(10px);

  padding: 25px;

  border-radius: 20px;

  margin-bottom: 25px;

  box-shadow: 0 10px 30px rgba(168,85,247,.12);

}

.search-section h3{

  color:#7e22ce;

  margin-bottom:20px;

}

.search-box{

  width:100%;

  padding:14px 18px;

  border:none;

  border-radius:15px;

  background:white;

  font-size:16px;

  margin-bottom:20px;

}

.search-box:focus{

  outline:none;

  box-shadow:0 0 0 3px rgba(168,85,247,.25);

}

.filter-row{

  display:flex;

  gap:20px;

}

.filter-group{

  flex:1;

}

.filter-group label{

  display:block;

  margin-bottom:8px;

  font-weight:600;

  color:#7e22ce;

}

.filter-group select{

  width:100%;

  padding:12px;

  border-radius:12px;

  border:none;

  background:white;

  font-size:15px;

}
.achievement-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:18px;

margin-top:20px;

}

.achievement-item{

background:white;

border-radius:20px;

padding:22px;

text-align:center;

box-shadow:
0 10px 25px rgba(168,85,247,.12);

transition:.3s;

cursor:pointer;

}

.achievement-item:hover{

transform:translateY(-6px);

box-shadow:
0 18px 35px rgba(168,85,247,.2);

}

.achievement-icon{

font-size:34px;

margin-bottom:12px;

}

.achievement-item h4{

color:#6b21a8;

font-size:15px;

margin-bottom:8px;

}

.achievement-item span{

color:#a855f7;

font-size:13px;

font-weight:600;

}

.achievement-empty{

text-align:center;

padding:40px;

color:#9333ea;

font-size:16px;

}
.achievement-icon {

  width: 70px;

  height: 70px;

  margin: 0 auto 15px;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 34px;

  background: linear-gradient(
    135deg,
    #fdf4ff,
    #f3e8ff
  );

  box-shadow:
    0 8px 20px rgba(168,85,247,.18);

}
.xp-popup{

position:fixed;

top:120px;

right:40px;

background:linear-gradient(
135deg,
#ec4899,
#9333ea
);

color:white;

padding:16px 28px;

border-radius:30px;

font-size:22px;

font-weight:bold;

box-shadow:
0 15px 35px rgba(168,85,247,.35);

animation:
floatXP 2s ease-out forwards;

z-index:9999;

}

@keyframes floatXP{

0%{

opacity:0;

transform:
translateY(20px)
scale(.8);

}

30%{

opacity:1;

transform:
translateY(0)
scale(1);

}

100%{

opacity:0;

transform:
translateY(-80px)
scale(1.1);

}

}
.loading-screen{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#fdf4ff,
#f5e9ff,
#eef2ff
);

}

.loading-logo{

font-size:70px;

margin-bottom:20px;

animation:bounce 1.5s infinite;

}

.loading-screen h1{

font-size:42px;

color:#7e22ce;

margin-bottom:20px;

}

.loading-screen p{

color:#9333ea;

font-size:18px;

margin-top:20px;

}

.spinner{

width:60px;

height:60px;

border:6px solid #f3e8ff;

border-top:6px solid #9333ea;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

@keyframes bounce{

50%{

transform:translateY(-10px);

}

}